<h5>Editer le chaton</h5>
<div class="container">
  <%= form_tag item_path(@item.id), method: 'put' do %>
    <%= label_tag "Titre" %>
    <%= text_field_tag :item_title %>
    <%= label_tag "Description" %>
    <%= text_field_tag :item_description %>
    <%= label_tag "Prix" %>
    <%= text_field_tag :item_price %>
    <%= submit_tag "Editer" %>
  <% end %>
</div>
