<%= render 'jombotron'%>
<%= render 'presentation' %>
<div class="container col-12 mt-5">
  <div class="items-list d-flex flex-wrap mt-5">
    <% @items.each do |item| %>
      <div class="card mb-4 box-shadow m-3 border-secondary ">
        <h3 class="card-header bg-secondary"><%= item.title %></h3>
        <div class="card-body">
          <h5 class="card-title">By User</h5>
          <h6 class="card-subtitle text-muted">Le 00/00/00</h6>
        </div>
        <% if item.picture.attached? %>
          <%= image_tag item.picture %>
        <% else %>
          <img class="card-img" style="display: block;" src="<%= item.image_url %>" alt="Cat image">
        <% end %>
        <div class="card-body">
          <p class="card-text"><%= item.description %></p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><%= item.price %>€</li>
        </ul>
         <div class="card-body">
<<<<<<< HEAD
        <%= link_to "Voir le chaton", item_path(item), class: "btn btn-info" %>
        <% if signed_in? %>
          <%= link_to "Editer le chaton", edit_item_path(item.id), method: 'get', class: "btn btn-primary"%>
          <%= link_to "Supprimer le chaton", item_path(item.id), method: 'delete', class: "btn btn-danger"%>
          <%= link_to "Ajouter au panier", edit_cart_path(current_user.cart, item.id), method: 'get', class: "btn btn-success"%>
=======
        <%= link_to "Voir le chaton", item_path(item)%>
        <% if signed_in? %> 
          <%= button_to "Ajouter au panier",
         line_items_path(item_id: item), class: "btn btn-primary" %>
>>>>>>> development
        <% end %>
      </div>
        <div class="card-footer text-muted">
          Le <%= item.created_at %>
        </div>
      </div>
    <% end %>
