    <div class="container">

      <div class="row d-flex">

        <div class="col-md-8">
            <img src="<%= @item.image_url %>", alt= "photo chat", class="img-fluid", size= "1000">
        </div>

        <div class="col-md-4">
          <h3 class="my-3"><strong><em><%= @item.title %> <i class="fab fa-angellist"></i></em></strong></h3>
        <div class="card-body">
        <p class="card-text"><%= @item.description %></p>
      </div>
          <ul>
            <h5><%= @item.price %>€</h5> <br>
            <button class= "submit" href="#" id="btnGroupDrop4" type="button" class="btn btn-secondary dropdown-toggle" aria-haspopup="true"> Ajouter au panier </button>
          </ul>
        </div>

    </div>
    <%= link_to 'Retour', item_path %>