<div class="container">

  <div class="row d-flex">

    <div class="col-md-8">
        <% if @item.picture.attached? %>
          <%= image_tag @item.picture %>
        <% else %>
          <img src="<%= @item.image_url %>", alt= "photo chat", class="img-fluid", size= "1000">
        <% end %>

    </div>

    <div class="col-md-4">
      <h3 class="my-3"><strong><em><%= @item.title %> <i class="fab fa-angellist"></i></em></strong></h3>
      <div class="card-body">
        <p class="card-text"><%= @item.description %></p>
      </div>
      <ul>
        <h5><%= @item.price %>€</h5>
        <br>
        <% if signed_in? %>
          <%= link_to "Editer le chaton", edit_item_path(@item.id), method: 'get', class: "btn btn-primary"%>
          <%= link_to "Supprimer le chaton", item_path(@item.id), method: 'delete', class: "btn btn-danger"%>
          <%= link_to "Mettre à jour la photo", new_item_picture_path(@item.id), method: 'get'%>
          <%= link_to "Ajouter au panier", edit_cart_path(current_user.cart, @item.id), method: 'get'%>
        <% end %>
      </ul>
    </div>
  </div>
</div>
<%= link_to 'Retour', :back %>
