<div class="container">
  <% @items.each do |item| %>
    <div class="row d-flex">
      <div class="col-md-8">
        <% if item.picture.attached? %>
          <%= image_tag item.picture %>
        <% else %>
          <img src="<%= item.image_url %>", alt= "photo chat", class="img-fluid", size= "1000">
        <% end %>
      </div>

      <div class="col-md-4">
        <h3 class="my-3"><strong><em><%= item.title %> <i class="fab fa-angellist"></i></em></strong></h3>
      </div>
      <div class="card-body">
        <p class="card-text"><%= item.description %></p>
      </div>
      <ul>
        <h5><%= item.price %>€</h5> <br>
        <%= link_to "Retirer du panier", cart_path(current_user.cart, item.id), method: 'delete', class: "btn btn-danger" %>
      </ul>
    </div>
  <% end %>
  <h3>Le montant total de votre panier est de : <%= @total_price %> €.</h3>
  <%= link_to 'Retour', root_path %>
  <%= link_to 'Passer commande', new_order_path %>

</div>
