<div class="container mt-4">
  <h2 class="action-banner">Mon panier</h2>
  <hr>
  <% if @items.length != 0 %>
  <% end %>
  <% @items.each do |item| %>
  
    <div class="card">
      <div class="card-body">
        <div class="float-left mr-4">
          <p><%= image_tag item.image_url, size: "200x200" %></p>
        </div>
        <p><b>Nom de la photo :</b> <%= item.title %> </p>
        <p><b>Description :</b> <%= item.description %> </p>
        <p><b>Prix  :</b> <%= item.price %>€</p>
        
        <%= form_with(model: @cart, local: true, url: cart_path(current_user.cart, item.id), method: "delete")  do |form| %>


          <%= form.submit "Supprimer du panier", class:"btn btn-warning float-right"%>
        <% end %>
      </div>
    </div>
  <% end %>

  <hr>
  <% if @items.length != 0 %>
    <h2>Le montant total de votre panier est de : <%= @total_price %>€</h2>
  <% else %>
    <p> Dommage !!! Votre panier est vide</p>
  <% end %>



<div class="paiement">

    <div class="container">
      <h1 class="d-flex justify-content-center">
     
      

  <!-- ..................STRIPE ........................-->

<%= form_tag url_for(action: 'create', method: 'get') do %>
  <article>
    <% if flash[:error].present? %>
      <div id="error_explanation">
        <p><%= flash[:error] %></p>
      </div>
    <% end %>
    
  </article>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="A month's subscription"
          data-amount="<%= (@total_price * 100).to_f %>"
          data-currency="eur"
          data-locale="auto"></script>
<% end %>
<!-- ..................STRIPE ........................-->
<p></p>
<%= link_to 'Retour Accueil', root_path, class:"btn btn-primary btn-lg jus" %>

  
  
</div>







